* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

.flex-links li {
    list-style: none;

    text-align: center;
}

.flex-links a {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

.flex-links li a:hover {
    background-color: white;
    color: #4acaa8;
}

.flex-links {
    flex: 1;
    /* border: 10px solid chartreuse; */
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.right-side {
    display: flex;
    background-color: #4acaa8;
    flex-direction: column;
    /* border: 10px solid red; */
    /* width: 1rem; */
    padding-top: 2rem;
    align-items: center;
    height: 100vh;
    flex-shrink: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 23rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-image {
    width: 130px;
    border-radius: 7rem;
    padding-bottom: 1rem;
}

.link-text {
    text-decoration: none;
    color: white;
    /* text-align: center; */
}

.description {
    color: white;
    padding-left: 1rem;
}

.name {
    padding: 1rem;
    font-size: 30px;
}

.contacts a {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    padding-right: 1rem;
    color: lightgray;
}

.contacts {
    display: flex;
    /* border: 10px solid mistyrose; */
    align-self: center;
}

/* .flex-links .line-color {
    color: rgba(255, 255, 255, 0.246);
} */

.line-color {
    color: rgba(255, 255, 255, 0.246);
}

.line-color2 {
    color: rgba(255, 255, 255, 0.376);
    font-size: 10px;
}

.padding-desc {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.banner {
    max-width: 100%;
}

.title {
    color: #4acaa8;
    font-size: 3.2rem;
    padding-top: 6rem;
}

.content-holder {
    width: calc(100vw - 23rem);
}

.text-description {
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.7rem;

    color: rgba(128, 128, 128, 0.918);
}

.text-link {
    text-decoration-color: rgba(128, 128, 128, 0.363);
    color: gray;
}

.text-link:hover {
    color: #4acaa8;
}

.paragraph {
    padding-top: 4rem;
    padding-right: 6.5rem;
    color: rgba(128, 128, 128, 0.835);
    font-size: 1rem;
    line-height: 30px;
}

.paragraph-two {
    padding-top: 2rem;
    padding-right: 6.5rem;
}

.less-padding {
    padding-top: 2rem;
    padding-right: 6.5rem;
    color: rgba(128, 128, 128, 0.835);
    font-size: 1rem;
    line-height: 30px;
}
.featured-icons {
    list-style: none;
    padding-top: 2rem;
    display: flex;

    flex-wrap: wrap;
}

.icon {
    min-width: 50%;
    padding-bottom: 2rem;
    color: rgba(128, 128, 128, 0.918);
}

.icon-pic {
    border-radius: 7rem;
    background-color: #4acaa8;
    color: white;
    padding: 1rem;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 1rem;
}

#second-section {
    border-top: 5px solid rgba(128, 128, 128, 0.253);
    width: 100%;
    padding-left: 6.5rem;
}

#first-section {
    padding-left: 6.5rem;
    padding-bottom: 2rem;
}

#third-section {
    padding-left: 6.5rem;
    border-top: 5px solid rgba(128, 128, 128, 0.253);
    /* width: 100%; */
    width: calc(100vw - 23rem);
}

.pic1 {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* border: 10px solid greenyellow; */
}

.pic2 {
    display: flex;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.pic3 {
    display: flex;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

/* .things-pics {
    width: 50px;
    height: 50px;
    border-radius: 5px;
} */

.pic1 img {
    width: 30px;
    height: 250px;
    border-radius: 5px;
    flex: 1;
    display: block;
    margin-right: 2rem;
}

.pic2 img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    flex: 1;
    margin-right: 2rem;
}

.pic3 img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    flex: 1;
    margin-right: 2rem;
}

.inner-div {
    padding: 1rem;
    /* padding-top: 2rem; */
    /* font-weight: bold; */
    /* font-size: 20rem; */
    color: rgba(255, 255, 255, 0.918);
}

.pic-caption {
    color: rgba(112, 112, 112, 0.918);
    font-weight: bold;
}

#fourth-section {
    padding-left: 6.5rem;
    border-top: 5px solid rgba(128, 128, 128, 0.253);
    /* width: 100%; */
    width: calc(100vw - 23rem);
}

#contact-form {
    padding-top: 2rem;
    padding-right: 6rem;
    /* border: 10px solid skyblue; */
    display: flex;
    flex-wrap: wrap;
}

.name-input {
    min-width: 45%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgba(214, 214, 214, 0.815);
    border-radius: 5px;
    margin-right: 4.9rem;
}

.email-input {
    min-width: 45%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgba(214, 214, 214, 0.815);
    border-radius: 5px;
    /* padding-left: 1rem;s */
}

.subject-input {
    min-width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgba(214, 214, 214, 0.815);
    border-radius: 5px;
}

.message-input {
    min-width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 4rem;
    border: 3px solid rgba(214, 214, 214, 0.815);
}

input::placeholder {
    font-style: italic;
    font-size: 1rem;
    color: rgba(112, 112, 112, 0.918);
}

textarea::placeholder {
    font-style: italic;
    font-size: 1rem;
    color: rgba(112, 112, 112, 0.918);
}

.button-holder {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.send-message {
    background-color: #4acaa8;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.reset-form {
    background-color: gray;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
}
